body {
    background-color: #f2f2f2;
    font-family: sans;
}

h1 {
    text-align: center;
}

section#winners {
    text-align: center;
}

.logos {
    margin: auto;
}

.logos img {
    max-height: 80px;
    margin: 8px;
}

table {
    margin: auto;
}

td {
    padding-left: 30px;
    padding-right: 30px;
}

th {
    padding-left: 30px;
    padding-right: 30px;
}