body {
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
}

section.winners {
    text-align: center;
}

.winner-logos {
    margin: auto;
}

table {
    margin: auto;
}

td {
    padding-left: 30px;
    padding-right: 30px;
}

th {
    padding-left: 30px;
    padding-right: 30px;
}