body {
    background-color: #fff;
    font-family: "sans-serif";
    font-size: 16px;
    color: #000;
}

h1 {
    text-align: center;
    color: #a06;
    font-size: 48px;
}

section#winners {
    text-align: center;
    padding: 16px;
}

.logos {
    margin: auto;
}

.logos img {
    max-height: 80px;
    margin: 8px;
}

table {
    margin: auto;
    margin-top: 64px;
    padding: 16px;
    width: 100%;
    max-width: 700px;
    border: 0px;
}

th {
    color: #a06;
    font-weight: bold;
    font-size: 120%;
}

th, td {
    padding: 8px;
}

tr:hover {
    background-color: #eee;
}

thead tr:hover {
    background-color: #fff;
}

tr th:nth-child(1) {
    text-align: left;
}

tr th:nth-child(2) {
    text-align: right;
}

tr td:nth-child(1) {
    text-align: left;
}

tr td:nth-child(2) {
    text-align: right;
    font-weight: bold;
}

.place-1 {
    background-color: #e8ffe8;
}

.place-2 {
    background-color: #fff6d4;
}

.place-3 {
    background-color: #ffeaea;
}